
Web/gym-management/FitAndFight-d18fd34bc5db.json
/.idea/
/Web/.idea/
/Web/gym-management/.idea/dictionaries/
/Web/gym-management/.idea/inspectionProfiles/
/Web/gym-management/.idea/gym-management.iml
/Web/gym-management/.idea/misc.xml
/Web/gym-management/.idea/modules.xml
/Web/gym-management/.idea/php.xml
/Web/gym-management/.idea/workspace.xml
/Web/gym-management/FitAndFight-ed650cc14201.json
/Web/gym-management/config/googletranslate.php
/Web/gym-management/resources/lang/it/

Web/gym-management/public/mix-manifest.json

Web/gym-management/package-lock.json

Web/gym-management/public/js/app.js

Web/gym-management/composer.lock
